$def with (inp_expr, dropmenu_color_l, dropmenu_color_r, num_ops, record, symvar, sidebarStatus, but_str, err=[])


<!DOCTYPE html>
<head>
<meta charset="UTF-8">

<script type="text/javascript" 
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<script type="text/x-mathjax-config">
  	MathJax.Hub.Config({ TeX: { extensions: ["color.js"] }});
	MathJax.Hub.Config({"HTML-CSS": {preferredFont: "STIX"}});
</script>

<script>
	MathJax.Hub.Queue(function() {
		var w = window.innerWidth;
		document.getElementById('equ').style.visibility = "";
		if (w < 1000)
		  document.getElementById('equ').style.fontSize="80%";
		else if (w < 1200)
		  document.getElementById('equ').style.fontSize="100%";
		else if (w < 1400)
	      document.getElementById('equ').style.fontSize="120%";   
		else
		  document.getElementById('equ').style.fontSize="133%";		
	});
</script>
<script language="JavaScript" type="text/javascript">
	function HandleBrowseClick() {
		var fileinput = document.getElementById("upload_solution");
		fileinput.click();
	}
	function Handlechange() {
		var fileinput = document.getElementById("upload_solution");
		var filetext = fileinput.value;
		var new_filetext = filetext.replace("C:\\fakepath\\", "");
		var textinput = document.getElementById("filename");
		textinput.value = new_filetext;
	}
	function instr() {
		window.open("/ohjeet#adv","Ohjeet","width=800, height=530");
	}

  function setSidebarStatus(){
  document.getElementById("sidebarStatus1").value = $sidebarStatus;
  document.getElementById("sidebarStatus2").value = $sidebarStatus;
  document.getElementById("sidebarStatus3").value = $sidebarStatus;
  document.getElementById("sidebarStatus4").value = $sidebarStatus;
  }
  
  function openNav() {
    document.getElementById("advSidebar").style.visibility = "visible";
    document.getElementById("advSidebar").style.width = "240px";
    document.getElementById("advSidebar").style.margin = "20px 0px";
    document.getElementById("advSidebar").style.padding = "0px 10px 20px";
    document.getElementById("main").style.marginRight = "280px";
    document.getElementById("sidebarbtn").style.visibility = "hidden";
    document.getElementById("advSidebar").style.borderWidth = "1px";
    document.getElementById("sidebarStatus1").value = "0";
    document.getElementById("sidebarStatus2").value = "0";
    document.getElementById("sidebarStatus3").value = "0";
    document.getElementById("sidebarStatus4").value = "0";
  }

function closeNav() {
  document.getElementById("advSidebar").style.width = "0";
  document.getElementById("advSidebar").style.padding = "0 0 20px";
  document.getElementById("advSidebar").style.margin = "20px -2px";
  document.getElementById("advSidebar").style.borderWidth = "0";
  document.getElementById("main").style.marginRight = "40px";
  document.getElementById("sidebarbtn").style.visibility = "visible";
  document.getElementById("sidebarStatus1").value = "1";
  document.getElementById("sidebarStatus2").value = "1";
  document.getElementById("sidebarStatus3").value = "1";
  document.getElementById("sidebarStatus4").value = "1";
}
</script>
<title>OTTO-yhtälönratkaisija</title>
<link rel="stylesheet" type="text/css" href="static/default.css">
$if sidebarStatus == '1':
  <style>
    #advSidebar{
      visibility: hidden;
      width: 0;
    }
    #main{
      margin-right:40px; 
    }
  </style>
$else:
  <style>
    #advSidebar{
      visibility: visible;
    }
  </style>

</head>
<body onload="setSidebarStatus()">
<div class="container wrapper">
 <div id="top">
  <ul id="menu">
   <li><a href="/">OTTO-yhtälönratkaisija</a>
  </ul>
 </div>
 <hr>
 <div class="wrapper">
  <div id="menubar">
   <div id="menu1">
    <h3>Sovellus</h3>
    <ul id="menulist">
     <li class="menuitem"><a href="/oldadvquestion">Aloita alusta</a>
     <li class="menuitem"><a href="/newadvquestion">Arvo uusi yhtälö</a>
     <li class="menuitem"><a href="/inverseview">Rakenna yhtälö</a>
     <li class="menuitem"><a href="/createadvquestion">Omat yhtälöt</a>
     <li class="menuitem"><a href="/simpleview">Perusratkaisija</a>
     <li class="menuitem"><a onclick="instr()">Ohjeet</a>
    </ul>
   </div>
   <div id="menu2">
    <h3>Linkkejä</h3>
    <ul id="menulist2">
     <li class="menuitem"><a href="/">Etusivu</a></li>
    </ul>
   </div>
  </div>
  <div id="main" style="display: flex; flex-wrap: wrap;">
   <h2>Ratkaise yhtälö (edistynyt)</h2>

      <div id="equ" style="width:100%; visibility: hidden; font-size: 120%; text-align:left;">$:inp_expr</div>

      <form name="l_oprs" method="post">
       <fieldset class="adv-funcForms">
        <legend>Muokkaa vasenta puolta</legend>
        <table>
          <tr>
            <td colspan="3">Toiminto värille $:dropmenu_color_l</td>
           </tr>
           <tr>
            <td  class="buttoncol"><button id="buttonMergeNumbers_l" value="mod_expr_mn_left" name="postBut" class="colBut2" title="Yhdistä luvut">$:but_str["but_nj_str"]</button></td>
            <td  class="buttoncol"><button id="buttonMergeVariables_l" value="mod_expr_mx_left" name="postBut" class="colBut2" title="Yhdistä $:symvar-termit ">$:but_str["but_xj_str"]</button></td>
            <td> <button id="buttonRemoveBraces_l" value="mod_expr_rb_left" name="postBut" class="colBut2" title="Poista sulut">$:but_str["but_rp_str"]</button></td>
          </tr>
           <tr>
            <td colspan="3" class="buttoncol"><button id="buttonCommonFactor_l" value="mod_expr_cf_left" name="postBut" class="colBut" title="Ota yhteinen tekijä">Ota yhteinen tekijä</button>
            <input type="text" id="inpExpr_l" name="inp_expr_l" size="6" value="1" class="inp_field"/></td>
           </tr>
        </table>
        <input type="hidden" id="sidebarStatus1" name="sidebarStatus" value="0">
       </fieldset>
      </form>

      <form name="lr_oprs" method="post">
       <fieldset class="adv-funcForms">
        <legend>Muokkaa puolittain</legend>
        <table>
         <tr>
          <td>Toiminto:</td>
         </tr>
         <tr>
          <td><select id="op_drop_lr" name="op_drop_lr">
            <option value="add">Lisää termi</option>
            <option value="subs">Vähennä termi</option>
            <option value="mul">Kerro termillä</option>
            <option value="div">Jaa termillä</option>
          </select></td>
          <td><input type="text" id="inp_expr_lr" name="inp_expr_lr" size="6" value="0" class="inp_field"/></td>
         </tr>
         <tr>
          <td class="buttoncol" colspan="2" style="text-align:center;" id="buttonExecute_lr">
           <button id="postBut" value="modequ" name="postBut" class="colBut">Tee toiminto</button>
          </td>
         </tr>
        </table>
        <input type="hidden" id="sidebarStatus2" name="sidebarStatus" value="0">
       </fieldset>
      </form>

      <form name="r_oprs" method="post">
       <fieldset class="adv-funcForms">
        <legend>Muokkaa oikeaa puolta</legend>
        <table>
         <tr>
          <td colspan="3">Toiminto värille $:dropmenu_color_r</td>
         </tr>
         <tr>
          <td  class="buttoncol"><button id="buttonMergeNumbers_r" value="mod_expr_mn_right" name="postBut" class="colBut2" title="Yhdistä luvut">$:but_str["but_nj_str"]</button></td><td  class="buttoncol"><button id="buttonMergeVariables_r" value="mod_expr_mx_right" name="postBut" class="colBut2" title="Yhdistä $:symvar-termit ">$:but_str["but_xj_str"]</button></td><td> <button id="buttonRemoveBraces_r" value="mod_expr_rb_right" name="postBut" class="colBut2" title="Poista sulut">$:but_str["but_rp_str"]</button></td>
        </tr>
         <tr>
          <td colspan="3" class="buttoncol"><button id="buttonCommonFactor_r" value="mod_expr_cf_right" name="postBut" class="colBut" title="Ota yhteinen tekijä">Ota yhteinen tekijä</button>
          <input type="text" id="inpExpr_r" name="inp_expr_r" size="6" value="1" class="inp_field"/></td>
         </tr>
        </table>
        <input type="hidden" id="sidebarStatus3" name="sidebarStatus" value="0">
       </fieldset>
      </form>
  </div>
    <div id="sidebarbtn" style="font-size:30px;cursor:pointer;" onclick="openNav()">&#9776;</div>
    <div class="sidebar" id="advSidebar" >
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
   <h3>Tietoja</h3>
   <p>Toimintoja nyt: $num_ops</p>
   <p>Paras suoritus: $record</p>
   <h3>Tuo ratkaisu ohjelmaan</h3>
   <form name="upload_solution_form" method="post" enctype="multipart/form-data" action="">
    <div>
     <input type="file" class="upload" name="upload_solution" id="upload_solution"
      style="display: none" onChange="Handlechange();" /> <input type="button"
      value="Valitse tiedosto" id="fakeBrowse" onclick="HandleBrowseClick();"/>
    </div>
    <div>
     <input type="text" id="filename" readonly="true" size="15" />
    </div>
    <div>
     <button id="buttonUploadFile" name="postBut" value="upload_solution_file">Tuo ratkaisu</button>
    </div>
   <h3>Vie ratkaisu tiedostoon</h3>
    <button id="buttonDownloadFile" name="postBut" value="download_solution">Vie ratkaisu</button>
    <input type="hidden" id="sidebarStatus4" name="sidebarStatus" value="0">
   </form>
  </div>
 </div>
   $if not err == []:
    $:err
 </div>

</div>
</body>
</html>
