<!DOCTYPE html>
<head>
<meta charset="UTF-8">

<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<script type="text/x-mathjax-config">
  	MathJax.Hub.Config({ TeX: { extensions: ["color.js"] }});	
	</script>

<script type="text/javascript">
	function instr() {
		window.open("/ohjeet","Ohjeet","width=800, height=530");
	}
</script>

<title>OTTO-yhtälönratkaisija</title>
<link rel="stylesheet" type="text/css" href="static/default.css">
</head>
<div class="container wrapper">
  <div id="top">
    <ul id="menu">
    	<li><a href="/">OTTO-yhtälönratkaisija</a>
    </ul>
  </div>
  <hr>
  <div class="wrapper">
    <div id="menubar">
   <div id="menu1">
    <h3>Sovellus</h3>
    <ul id="menulist">
     <li class="menuitem"><a href="/simpleview">Perusratkaisija</a>
     <li class="menuitem"><a href="/advview">Edistynyt ratkaisija</a>
     <li class="menuitem"><a href="/inverseview">Rakenna yhtälö</a>     
     <li class="menuitem"><a onclick="instr()">Ohjeet</a>
    </ul>
   </div>
   <div id="menu2">
    <h3>Linkkejä</h3>
    <ul id="menulist2">
     <li class="menuitem"><a href="https://www.oulu.fi">Oulun yliopisto</a>    

   </ul>
  </div>
 </div>
 <div id="main">
  <h2>Tervetuloa käyttämään OTTO-yhtälöratkaisijaa!</h2>
       <p>Tämä sovellus on osa Oulun yliopiston Ongelmasta Toimintaohjeeksi ja Toimivaksi Ohjelmaksi (OTTO) -hankkeen toimintaa. OTTO-hanke kuuluu Uudistuva ja osaava Suomi 2021-2027 -ohjelmaan ja sitä koordinoi ja rahoittaa Pohjois-Pohjanmaan ELY-keskus. <br>
         Sovellus perustuu <a href="https://suomi.luma.fi/">LUMA SUOMI -ohjelman</a> Joustava YhtälönRatkaisu (JYR) -hankkeessa luotuun ohjelmistoon</p>
       <p>Tervetuloa harjoittelemaan algoritmista ajattelua yhtälönratkaisemisen parissa!</p>
</div>
   <div id="logos">
       <div><img src="static/EU_Logo_mono.png" alt="EU-tunnus" width="120"></div>
       <div><img src="static/ELY_Logo.png" alt="LUMA Suomi" width="120"></div>
       <div><img src="static/oulunyo.png" alt="Oulun yliopisto" height="100"></div>
       
   </div>
  </div>
</div>
</html>
