<!DOCTYPE html>
<head>
<meta charset="UTF-8">

<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<script type="text/x-mathjax-config">
  	MathJax.Hub.Config({ TeX: { extensions: ["color.js"] }});	
	</script>

<script type="text/javascript">
	function instr() {
		window.open("/instr_fi","Ohjeet","width=800, height=530");
	}
</script>

<title>OTTO-yhtälönratkaisija</title>
<link rel="stylesheet" type="text/css" href="static/default.css">
</head>

<div class="container wrapper">
  <div id="top">
    <ul id="menu">
    	<li><a href="/">OTTO-yhtälönratkaisija</a>
    </ul>
  </div>
  <hr>
  <div class="hero-image"></div>
  <div class="wrapper">
    <div id="menubar">
   <div id="menu1">
    <h3>Sovellus</h3>
    <ul id="menulist">
     <li class="menuitem"><a href="/simpleview">Perusratkaisija</a>
     <li class="menuitem"><a href="/advview">Edistynyt ratkaisija</a>
     <li class="menuitem"><a href="/inverseview">Rakenna yhtälö</a>     
     <li class="menuitem"><a onclick="instr()">Ohjeet</a>
    </ul>
   </div>
   <div id="menu2">
    <h3>Linkkejä</h3>
    <ul id="menulist2">
     <li class="menuitem"><a href="https://www.oulu.fi">Oulun yliopisto</a>    

   </ul>
  </div>
 </div>
 <div id="main">
  <h2>Tervetuloa käyttämään OTTO-yhtälöratkaisijaa!</h2>
       <p>Tämä sovellus on osa Oulun yliopiston Ongelmasta Toimintaohjeeksi ja Toimivaksi Ohjelmaksi (OTTO) -hankkeen toimintaa. OTTO-hanke kuuluu Uudistuva ja osaava Suomi 2021-2027 -ohjelmaan ja sitä koordinoi ja rahoittaa Pohjois-Pohjanmaan ELY-keskus. <br>
         Sovellus perustuu <a href="https://suomi.luma.fi/">LUMA SUOMI -ohjelman</a> Joustava YhtälönRatkaisu (JYR) -hankkeessa luotuun ohjelmistoon</p>
       <p>Tervetuloa harjoittelemaan algoritmista ajattelua yhtälönratkaisemisen parissa!</p>
</div>
  <div id="logos" style="text-align: center;">
       
       <div><img src="static/ELY_Logo.png" alt="LUMA Suomi" width="200"></div>
       <div><img src="static/EU_Logo_mono.png" alt="EU-tunnus" width="200" ></div>
   </div>
  </div>
  <div class="bottom" style="text-align: center;"><img src="static/oulu_logo.png" alt="Oulun yliopisto" height="100"></div>
</div>
  <!-- Cookie Consent Banner -->
  <div id="cookieConsent" class="cookie-consent" style="display:none;">
    Tämä sivusto käyttää evästeitä.<br>Evästeitä käytetään yhtälöiden tallentamiseen ja mitään henkilökohtaisia tietoja ei kerätä.
    <button id="acceptCookies">Hyväksy</button>
  </div>
  <script>
    function setCookie(name, value, days) {
      var expires = "";
      if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
      }
      document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }
    function getCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
      }
      return null;
    }
    window.onload = function() {
      if (!getCookie('otto_cookie_consent')) {
        document.getElementById('cookieConsent').style.display = 'block';
      }
      document.getElementById('acceptCookies').onclick = function() {
        setCookie('otto_cookie_consent', 'accepted', 365);
        document.getElementById('cookieConsent').style.display = 'none';
      };
    };
  </script>
</html>
