<!DOCTYPE html>
<head>
<meta charset="UTF-8">

<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<script type="text/x-mathjax-config">
  	MathJax.Hub.Config({ TeX: { extensions: ["color.js"] }});	
	</script>

<script type="text/javascript">
	function instr() {
		window.open("/ohjeet","Ohjeet","width=800, height=530");
	}
</script>

<title>Oiva yhtälönratkaisija</title>
<link rel="stylesheet" type="text/css" href="static/default.css">
</head>
<div class="container wrapper">
  <div id="top">
    <ul id="menu">
    	<li><a href="/">JYR - joustavaa yhtälönratkaisua</a>
    </ul>
  </div>
  <hr>
  <div class="wrapper">
    <div id="menubar">
   <div id="menu1">
    <h3>Sovellus</h3>
    <ul id="menulist">
     <li class="menuitem"><a href="/simpleview">Yhtälön perusratkaisija</a>
     <li class="menuitem"><a href="/jyrview">Yhtälön joustava ratkaisija</a>
     <li class="menuitem"><a href="/inverseview">Käänteinen yhtälönratkaisu</a>     
     <li class="menuitem"><a onclick="instr()">Ohjeet</a>
    </ul>
   </div>
   <div id="menu2">
    <h3>Linkkejä</h3>
    <ul id="menulist2">
     <li class="menuitem"><a href="https://ouluma.fi">OuLUMA</a>    
     <li class="menuitem"><a href="https://ouluma.fi/joustava-yhtalonratkaisu/">Joustava yhtälönratkaisu</a>       
     <li class="menuitem"><a href="https://ouluma.fi/joustava-yhtalonratkaisu/yhteyshenkilot/">Yhteystiedot</a>     
     <li class="menuitem"><a href="http://www.luma.fi/suomi/">LUMA Suomi</a> 
   </ul>
  </div>
 </div>
 <div id="main">
       <h2>Joustavaa yhtälönratkaisua -projektin sovellussivusto</h2>
       <p>Tervetuloa harjoittelemaan yhtälönratkaisua aivan uudella tavalla!</p>
</div>
   <div id="logos">
       <div><img src="static/2267.png" alt="OKM" height="120"></div>
       <div><img src="static/2003.png" alt="LUMA Suomi" height="100"><img src="static/oulunyo.png" alt="Oulun yliopisto" height="100"></div>
       
   </div>
  </div>
</div>
</html>
