<!DOCTYPE html>
<head>
	<meta charset = "UTF-8">
	<script type="text/x-mathjax-config">
  	MathJax.Hub.Config({ TeX: { extensions: ["color.js"] }});	
	</script>
	<script type="text/javascript" async
  	src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
	</script>
	<title>Oiva yhtälönratkaisija</title>
	<link rel="stylesheet" type="text/css" href="static/default.css">
</head>
<div class="container wrapper">
  <div id="top">
    <ul id="menu">
    	<li><a href="/">JYR - joustavaa yhtälönratkaisua</a>
    	<li><a href="/mojyr">MOJYR</a>
    	<li><a href="/contact">Yhteystiedot</a>	
    </ul>
  </div>
  <hr>
  <div class="wrapper">
    <div id="menubar">
    <div id="menu1">
    <h3>Sovellus</h3>
     <ul id="menulist">
	 <li class="menuitem"><a href="/simpleview">Yhtälön perusratkaisija</a>
     <li class="menuitem"><a href="/jyrview">Yhtälön joustava ratkaisija</a>
     <li class="menuitem"><a href="/ohjeet">Ohjeet</a>
    </ul>
   </div>
   <div id="menu2">
    <h3>Linkkejä</h3>
    <ul id="menulist2">
     <li class="menuitem"><a href="https://ouluma.fi">OuLUMA</a>
     <li class="menuitem"><a href="http://www.luma.fi/suomi/">LUMA Suomi</a> 
     <li class="menuitem"><a href="/ohjeet">Yhteystiedot</a>
   </ul>
  </div>
  </div>
    <div id="main">
      <h2>MOJYR-sovelluksen taustaa</h2>
	 
   </div>
    <div id="sidebar">
      <h3>Side-Bar</h3>
	  <p>
		Ja tähän myös
	  </p>
    </div>

  </div>  
  
</div>
<!-- <table>
<tr>
<th colspan="2"><h2>Valitse harjoittelutapa</h2></th>
</tr>
<tr>
<td><button id="postBut" value="simple_mode" name="postBut"><h2>Yksinkertainen</h2></button></td>
<td><button id="postBut" value="flexi_mode" name="postBut"><h2>Joustava</h2></button></td>
</tr>
</table> -->
</html>