<!DOCTYPE html>
<head>
	<meta charset = "UTF-8">
	<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

	<script type="text/x-mathjax-config">
  	MathJax.Hub.Config({ TeX: { extensions: ["color.js"] }});	
	</script>


    
	<title>Oiva yhtälönratkaisija</title>
	<link rel="stylesheet" type="text/css" href="static/default.css">
</head>
<body>
<div class="container wrapper">
  <div id="top">
    <ul id="menu">
     <li><a href="/">JYR - joustavaa yhtälönratkaisua</a>
    </ul>
  </div>
  <hr>
    <div id="menubar">
   <div id="menu1">
    <h3>Ohjeet - sisältö</h3>
    <ul id="menulist">
     <li class="menuitem"><a href="#gen">Yleisiä ohjeita</a></li>
     <li class="menuitem"><a href="#basic">Yhtälön perusratkaisija</a></li>     
     <li class="menuitem"><a href="#jyr">Yhtälön joustava ratkaisija</a></li>
     <li class="menuitem"><a href="#inv">Käänteinen yhtälönratkaisu</a></li>
     <li class="menuitem"><a href="#own">Omat yhtälöt</a></li>
    </ul>
   </div>
 </div>
    <div id="main_instr">
      <h2 id="gen">Yleisiä ohjeita</h2>
      <p>Yhtälönratkaisusovellus on pyritty toteuttamaan sillä tavalla, että sen käyttäminen ei vaatisi intensiivistä ohjeiden lukemista.
      Muutamia yleisiä ohjeita kannattaa kuitenkin huomioida.</p>
      <p>Lausekkeita syötettäessä kaikki laskutoimituksia kuvaavat symbolit, myös kertomerkit (*) on merkittävä omille paikoilleen.
      Tämän vuoksi esim. lauseke \(2x\) syötetään 2*x ja \(3(t-5)\) syötetään 3*(t-5). Laskutoimituksia vastaavat symbolit ovat</p>
      <ul>
      <li>Yhteenlasku: <b>+</b></li>
      <li>Vähennyslasku: <b>-</b></li>
      <li>Kertolasku: <b>*</b></li>
      <li>Jakolasku: <b>/</b></li>
      </ul>
      <p>Sulkuina käytetään aina kaarisulkuja ( ja ).</p>
      <p>Sovelluksessa on mahdollista tallentaa yhtälöitä tai ratkaisuja tiedostoon. Tämä onnistuu oikean reunan valikossa kohdassa 'Tallenna ratkaisu/yhtälö tiedostoon.' Tallennettavalle tiedostolle voi valita oman nimen ja sijainnin.
      Sovellukseen on mahdollista myös tuoda yhtälöitä/ratkaisuja tiedostosta. Tuotavan tiedoston voi valita oikean reunan valikon kohdassa 'Tuo yhtälö/ratkaisu ohjelmaan' painikkeella 'Valitse tiedosto.'
      Kun tiedosto on valittu sen saa mukaan ohjelmaan painikkeella 'Tuo yhtälö/ratkaisu.' 
      
      <h2 id="basic">Yhtälön perusratkaisija</h2>
      <p>Yhtälön perusratkaisijalla on mahdollista harjoitella yhtälöratkaisua ja sovelluksen käyttöä helposti lähestyttävällä tavalla.
      Perusratkaisijalla on mahdollista ratkoa yhtälöitä, joissa ei ole sulkulausekkeita.
      Kaikki toiminnot, joilla ratkaisijaa ohjataan, kohdistuvat yhtälön molemmille puolille ja ovat saatavilla 'Toiminto'-pudostusvalikon alta. Mahdollisia toimintoja ovat:</p>
      <ul>
      <li>Lisää termi: <b>L</b></li>
      <li>Vähennä termi: <b>V</b></li>
      <li>Kerro termillä: <b>K</b></li>
      <li>Jaa termillä: <b>J</b></li>
      <li>Yhdistä luvut <b>M</b></li>
      <li>Yhdistä x-termit <b>M</b></li>
      </ul>
      <p>'Toiminto'-pudotusvalikon vieressä on tekstikenttä, mihin syötetään toiminnossa tarvittava termi.
       Jos halutaan esimerkiksi vähentää yhtälöstä puolittain \(2x\), pudotusvalikosta valitaan toiminto 'Vähennä termi:' ja viereiseen tekstikenttään syötetään 2*x. 
       Valitun toiminnon saa suoritettua klikkaamalla painiketta 'Tee toiminto'. 
       Toiminnoista 'Yhdistä luvut:' ja 'Yhdistä x-termit' eivät vaadi mitää syötettä tekstikenttään. 
       'Yhdistä luvut'-toiminto laskee yhtälön molemmilta puolilta luvut yhteen ja 'Yhdistä x-termit' vastaavasti termit, jotka sisältävät muuttujia. 
       Mikäli yhtälön muuttujana on jokin muu kuin \(x\), toiminto muuttuu vastaavaan muotoon (esim. muotoon 'Yhdistä t-termit').
       Kannattaa myös huomata, että toiminnot 'Kerro termillä:' ja 'Jaa termillä:' pitävät sisällään myös automaattisen sievennyksen.</p>
                
      <h2 id="jyr">Yhtälön joustava ratkaisija</h2>
      <p>Yhtälön joustavalla ratkaisijalla on mahdollista harjoitella vaativampaa yhtälöratkaisua hieman yksityiskohtaisemmin kuin yhtälön perusratkaisijalla.
      Joustavalla ratkaisijalla on mahdollista ratkoa myös yhtälöitä, joissa on sulkulausekkeita.</p>
      <p>Sulkujen rajaamat lausekkeet on sovelluksessa väritetty eri värein, jotta toimintoja pystytään kohdistamaan haluttuihin kohtiin.
      Mahdolliset toiminnot on jaettu kolmeen osaan sen mukaan, halutaanko muokata yhtälön vasenta puolta, oikeaa puolta vai molempia puolia yhtä aikaa.
      Yhtälön vasemmalle ja oikealle puolelle kohdistuvat toiminnot ovat samat. Nämä toiminnot ovat saatavilla 'Toiminto värille'-tekstin alta. Mahdollisia toimintoja ovat:</p>
      <ul>
      <li>Yhdistä luvut <b>M</b></li>
      <li>Yhdistä x-termit <b>M</b></li>
      <li>Poista sulut <b>M</b></li>
      <li>Ota yht. tekijä <b>M</b></li>
      </ul>
      <p>Nämä toiminnot voidaan kohdistaa lausekkeessa esiintyvien värien mukaisiin kohtiin. Haluttua kohtaa vastaava väri valitaan pudotusvalikosta 'Toiminto värille'-tekstin vierestä. 
      Jos halutaan esimerkiksi kertoa lausekkeesta punaisella värjätty sulkulauseke auki, värivalikosta valitaan väri punainen ja toiminnoksi 'Poista sulut'. 
      Tämä jälkeen klikataan painiketta 'Tee toiminto' vastaavasta muokkausosasta.</p>
      <p>Tämän valikon toiminnoista vain 'Ota yht. tekijä' vaatii syötetteen tekstikenttään. 
      Tämän toiminnon avulla lausekkeesta on mahdollista yhdistellä lausekkeita, joissa on samoja termejä. 
      Esimerkki: Yhtälön vasen puoli on \(\require{color} 2{\color{red} (x+2)}-2 {\color{blue} (x+2)}\). Nämä termit saadaan helpoiten kumoamaan toisensa toimimalla seuraavasti:</p>
      <ol>
      <li>Valitse 'Muokkaa vasenta puolta'-osasta väriksi musta ja toiminnoksi 'Ota yht. tekijä'.</li>
      <li>Syötä 'Tekijä'-kenttään x+2 ja klikkaa painiketta 'Tee toiminto'.</li>
      <li>Tuloksena on lauseke \(\require{color} 0{\color{red} (x+2)}\).</li>
      <li>Valitse 'Muokkaa vasenta puolta'-osasta väriksi punainen ja toiminnoksi 'Poista sulut'.</li>
      <li>Klikkaamalla 'Tee toiminto'-painiketta, vasen puoli sievenee nollaksi.</li>
      </ol>
      <p>'Yhdistä luvut'-toiminto laskee värin mukaan valitun lausekkeen luvut yhteen ja 'Yhdistä x-termit' vastaavasti termit, jotka sisältävät muuttujia. 
      Mikäli yhtälön muuttujana on jokin muu kuin \(x\), toiminto muuttuu vastaavaan muotoon (esim. muotoon 'Yhdistä t-termit'). </p>
      <p>Yhtälöä voidaan muokata myös puolittain kohdassa 'Muokkaa puolittain'. Tällöin käytössä ovat toiminnot</p>
      <ul>
      <li>Lisää termi: <b>L</b></li>
      <li>Vähennä termi: <b>V</b></li>
      <li>Kerro termillä: <b>K</b></li>
      <li>Jaa termillä: <b>J</b></li>
      </ul>
      <p>'Toiminto'-pudotusvalikon vieressä on tekstikenttä, mihin syötetään toiminnossa tarvittava termi.
       Jos halutaan esimerkiksi vähentää yhtälöstä puolittain \(2x\), pudotusvalikosta valitaan toiminto 'Vähennä termi:' ja viereiseen tekstikenttään syötetään 2*x. 
       Valitun toiminnon saa suoritettua klikkaamalla painiketta 'Tee toiminto'. Toiminnot 'Kerro termillä:' ja 'Jaa termillä:' pitävät sisällään myös automaattisen sievennyksen.</p>           
      <h2 id="inv">Käänteinen yhtälönratkaisu</h2>
      <p>Käänteisen yhtälönrakaisun ajatuksena on muodostaa yhtälö lähtien tunnetusta ratkaisusta. Yhtälön rakentaminen aloitetaan syöttämällä haluttu ratkaisu (tai yhtälö) sille varattuun kohtaan.
      	 Luonnollinen tapa lähteä liikkeelle on syöttää vasemman puoleiseen kenttään tuntematonta lukua edustava kirjain (esim. x) ja oikean puoleiseen kenttään sitä vastaava lukuarvo (esim. 5).
         Kun haluttu ratkaisu on syötetty, yhtälöä pääsee rakentamaan klikkaamalla painiketta 'Rakenna yhtälö'.</p>
         
       <p>Yhtälön rakentaminen toimii samalla tavalla kuin <a href="#jyr">joustavan yhtälön ratkaiseminen</a>.Yhtälön vasemmalle ja oikealle puolelle kohdistuvat toiminnot ovat samat. Nämä toiminnot ovat saatavilla 'Toiminto värille'-tekstin alta. Mahdollisia toimintoja ovat:</p>
      <ul>
      <li>Yhdistä luvut <b>M</b></li>
      <li>Yhdistä x-termit <b>M</b></li>
      <li>Poista sulut <b>M</b></li>
      <li>Ota yht. tekijä <b>M</b></li>
      </ul>
      <p>Nämä toiminnot voidaan kohdistaa lausekkeessa esiintyvien värien mukaisiin kohtiin. </p>
      <p>Yhtälöä voidaan muokata myös puolittain kohdassa 'Muokkaa puolittain'. Tällöin käytössä ovat toiminnot</p>
      <ul>
      <li>Lisää termi: <b>L</b></li>
      <li>Vähennä termi: <b>V</b></li>
      <li>Kerro termillä: <b>K</b></li>
      <li>Jaa termillä: <b>J</b></li>
      </ul>
      <p>'Toiminto'-pudotusvalikon vieressä on tekstikenttä, mihin syötetään toiminnossa tarvittava termi.</p>
      <p>Kun haluttu yhtälö on muodostettu, se voidaan tallentaa omiin perusyhtälöihin painikkeella 'Tallenna perusyhtälönä' tai omiin joustaviin yhtälöihin painikkeella 'Tallenna joustavana yhtälönä.' 
      <h2 id="own">Omat yhtälöt</h2>
      <p>Sovelluksessa on mahdollista luoda myös omia yhtälöitä niin perusratkaisijalle kuin joustavallekin ratkaisijalle.
      Tämä onnistuu klikkaamalla vastaavassa yhtälönratkaisijassa vasemman valikon linkkiä 'Omat yhtälöt.'</p>
      <p>Omien yhtälöiden luominen onnistuu kirjoittamalla yhtälön vasemman ja oikean puolen niille varattuihin tekstikenttiin.
      Syöttäessä kannattaa muistaa, että kertolasku tulee merkitä aina lausekkeisiin. Tämän vuoksi esim. lauseke \(2x\) syötetään 2*x ja \(3(t-5)\) syötetään 3*(t-5). Yhtälö ei voi kuitenkaan sisältää useita eri tuntemattomia.
      Syötetyn yhtälön saa näkyviin klikkaamalla painiketta 'Näytä yhtälö' ja talletettua painikkeella 'Talleta yhtälö.' Tallettamisen jälkeen syötetty yhtälö tulee näkyviin oikean reunan listaan.</p>
      <p>Omia yhtälöitä voi tallettaa kymmenen ja niitä voi muokata, poistaa tai ratkoa klikkaamalla yhtälön perässä näkyviä vastaavia symboleita. Kaikki omat yhtälöt saa myös talletettua tiedostoon kohdasta 'Tallenna omat yhtälöt tiedostoon.'
      Omat yhtälöt voi myös tuoda tiedostosta ohjelmaan kohdasta 'Tuo yhtälöitä ohjelmaan.'</p> 
     
   </div>
  </div>
</body>
</html>
