$def with (inp_expr, num_ops, record, err=[])
<!DOCTYPE html>
<head>
<meta charset="UTF-8">

<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<script type="text/x-mathjax-config">
  	MathJax.Hub.Config({ TeX: { extensions: ["color.js"] }});
	MathJax.Hub.Config({"HTML-CSS": {preferredFont: "STIX"}});
</script>

<script>
   MathJax.Hub.Queue(
     function () {
        document.getElementById('equ').style.visibility="";
     }
     );
</script>
<script type="text/javascript" language="JavaScript">
  function HandleBrowseClick() {
   var fileinput = document.getElementById("upload_solution");
   fileinput.click();
  }
  function Handlechange() {
   var fileinput = document.getElementById("upload_solution");
   var filetext = fileinput.value;
   var new_filetext = filetext.replace("C:\\fakepath\\", "");
   var textinput = document.getElementById("filename");
   textinput.value = new_filetext;
  }
  function instr() {
	window.open("/ohjeet","Ohjeet","width=800, height=600");
  }
</script>
<title>OTTO-yhtälönratkaisija</title>
<link rel="stylesheet" type="text/css" href="static/default.css">
</head>

<body>
<div class="container wrapper">
 <div id="top">
  <ul id="menu">
   <li><a href="/">OTTO-yhtälönratkaisija</a>
  </ul>
 </div>
 <hr>
 <div class="wrapper">
  <div id="menubar">
   <div id="menu1">
   <h3>Sovellus</h3>
   <ul id="menulist">
    <li class="menuitem"><a href="/oldsimplequestion">Aloita alusta</a>
    <li class="menuitem"><a href="/newsimplequestion">Arvo uusi yhtälö</a>
    <li class="menuitem"><a href="/inverseview">Rakenna yhtälö</a>
    <li class="menuitem"><a href="/createsimplequestion">Omat yhtälöt</a>
    <li class="menuitem"><a href="/advview">Edistynyt ratkaisija</a>
    <li class="menuitem"><a onclick="instr()">Ohjeet</a>
   </ul>
  </div>
  <div id="menu2">
   <h3>Linkkejä</h3>
   <ul id="menulist2">
    <li class="menuitem"><a href="/">Etusivu</a></li>
   </ul>
  </div>
  </div>
  <div id="main_solved">
   <div id="equshow">
   <h2>Ratkaise yhtälö perustavalla</h2>
   <table>
    <tr>
     <td colspan="3">
      <div id="equ" style="visibility:hidden; font-size:133%;">$:inp_expr</div>
     </td>
    </tr>
   </table>
    </div>
    $if num_ops == record:
      <div id="bottom"><h2>Mahtavaa, teit ennätyksesi!</h2><p>Käytit $record toimintoa. Kokeile saatko parannettua tulostasi: <a href="/oldsimplequestion">Yritä uudelleen</a></p></div></div>
    $else:
      <div id="bottom"><p>Käytit $num_ops toimintoa. Kokeile saatko parannettua tulostasi: <a href="/oldsimplequestion">Yritä uudelleen</a></p></div></div>
      
  <div id="sidebar">
   <h3>Tietoja</h3>
   <p>Teit toimintoja: $num_ops</p>
   <p>Paras suoritus: $record</p>
   <h3>Tuo ratkaisu ohjelmaan</h3>
   <form name="upload_solution_form" method="post" enctype="multipart/form-data" action="">
    <div>
     <input type="file" class="upload" name="upload_solution" id="upload_solution"
      style="display: none" onChange="Handlechange();" /> <input type="button"
      value="Valitse tiedosto" id="fakeBrowse" onclick="HandleBrowseClick();"/>
    </div>
    <div>
     <input type="text" id="filename" readonly="true" size="15" />
    </div>
    <div>
     <button id="postBut" name="postBut" value="upload_solution_file">Tuo ratkaisu</button>
    </div>
   <h3>Vie ratkaisu tiedostoon</h3>
    <button id="postBut" name="postBut" value="download_solution">Vie ratkaisu</button>
   </form>
  </div>
   $if not err == []:
    $:err    
 </div>
 </body>
</html>
