$def with (inp_expr, num_ops, record, symvar, sidebarStatus, but_str, err=[])
<!DOCTYPE html>
<head>
<meta charset="UTF-8">

    
<script type="text/javascript" 
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<script type="text/x-mathjax-config">
  	MathJax.Hub.Config({ TeX: { extensions: ["color.js"] }});
	MathJax.Hub.Config({"HTML-CSS": {preferredFont: "STIX"}});	
</script>

<script>
   MathJax.Hub.Queue(
     function () {
        document.getElementById('equ').style.visibility="";
     }
     );
</script>
<script language="JavaScript" type="text/javascript">
 function HandleBrowseClick() {
  var fileinput = document.getElementById("upload_solution");
  fileinput.click();
 }
 function Handlechange() {
  var fileinput = document.getElementById("upload_solution");
  var filetext = fileinput.value;
  var new_filetext = filetext.replace("C:\\fakepath\\", "");
  var textinput = document.getElementById("filename");
  textinput.value = new_filetext;
 }
 function instr() {
  window.open("/instr_fi#basic","Ohjeet","width=800, height=530");

 }
 function openNav() {
  document.getElementById("simpleSidebar").style.visibility = "visible";
  document.getElementById("simpleSidebar").style.width = "240px";
  document.getElementById("simpleSidebar").style.margin = "20px 0px";
  document.getElementById("simpleSidebar").style.padding = "0px 10px 20px";
  document.getElementById("main").style.marginRight = "280px";
  document.getElementById("sidebarbtn").style.visibility = "hidden";
  document.getElementById("simpleSidebar").style.borderWidth = "1px";
  document.getElementById("sidebarStatus").value = "0";
}
function setSidebarStatus(){
  document.getElementById("sidebarStatus").value = $sidebarStatus;
}
function closeNav() {
  document.getElementById("simpleSidebar").style.width = "0";
  document.getElementById("simpleSidebar").style.padding = "0 0 20px";
  document.getElementById("simpleSidebar").style.margin = "20px -2px";
  document.getElementById("simpleSidebar").style.borderWidth = "0";
  document.getElementById("main").style.marginRight = "40px";
  document.getElementById("sidebarbtn").style.visibility = "visible";
  document.getElementById("sidebarStatus").value = "1";
}
</script>

<title>OTTO-yhtälönratkaisija</title>

<link rel="stylesheet" type="text/css" href="static/default.css">
$if sidebarStatus == '1':
  <style>
    #simpleSidebar{
      visibility: hidden;
      width: 0;
    }
    #main{
      margin-right:40px; 
    }
  </style>
$else:
  <style>
    #simpleSidebar{
      visibility: visible;
    }
  </style>

</head>


<body onload="setSidebarStatus()">

<div class="container wrapper">
 <div id="top">
  <ul id="menu">
   <li><a href="/">OTTO-yhtälönratkaisija</a>
  </ul>
 </div>
 <hr>
 <div class="wrapper">
  <div id="menubar">
   <div id="menu1">
    <h3>Sovellus</h3>
    <ul id="menulist">
     <li class="menuitem"><a href="/oldsimplequestion">Aloita alusta</a></li>
     <li class="menuitem"><a href="/newsimplequestion">Arvo uusi yhtälö</a></li>
     <li class="menuitem"><a href="/inverseview">Rakenna yhtälö</a></li>
     <li class="menuitem"><a href="/createsimplequestion">Omat yhtälöt</a></li>
     <li class="menuitem"><a href="/advview">Edistynyt ratkaisija</a></li>
     <li class="menuitem"><a onclick="instr()">Ohjeet</a></li>
    </ul>
   </div>
   <div id="menu2">
    <h3>Linkkejä</h3>
    <ul id="menulist2">
     <li class="menuitem"><a href="/">Etusivu</a></li>
    </ul>
  </div>
  </div>
<div id="main">
       <h2>Ratkaise yhtälö perustavalla</h2>
<table>
	<tr>
	<td colspan="2">
	  <div id="equ" style="visibility:hidden; font-size:133%;">$:inp_expr</div>
	</td>
	</tr>
	<tr>
	<td>
		<form name="lr_oprs" method="post">
		<fieldset>
		<legend>Muokkaa yhtälöä puolittain</legend>
		<table>
    	
    	<tr>
      <label for="op_drop_lr">Toiminto:</label>
    	<td class="buttoncol">
    		<select id="op_drop_lr" name="op_drop_lr">
  				<option value="add">Lisää termi</option>
  				<option value="subs">Vähennä termi</option>
  				<option value="mul">Kerro termillä</option>
  				<option value="div">Jaa termillä</option>
			</select>
		</td>
		<td class="buttoncol">
			<input type="text" id="inp_expr_lr" name="inp_expr_lr" value="0" class="inp_field" style="width: 6.5em;" />
		</td>
    <td class="buttoncol">
      <button id="buttonExecute" value="modequ" name="postBut" class="colBut">Tee toiminto
      </button>
    </td>
		</tr>
    <tr>
      <td colspan="3" class="buttoncol" style="text-align: center;"><button id="buttonMergeNumbers" value="modequ_j" name="postBut" class="colBut2" title="Yhdistä luvut" >$:but_str["but_nj_str"]</button> 
      <button id="buttonMergeVariables" value="modequ_x" name="postBut" class="colBut2" title="Yhdistä $:symvar-termit">$:but_str["but_xj_str"]</button></td>
    </tr>
    <tr>

    	</tr>
		</table>
    <input type="hidden" id="sidebarStatus" name="sidebarStatus" value="0"/>
		</fieldset>
    
		</form>
	</td>
    <td></td>
	</tr>
</table>
</div>
  
   <div id="sidebarbtn" style="font-size:30px;cursor:pointer;" onclick="openNav()">&#9776;</div>
   <div class="sidebar" id="simpleSidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
   <h3>Tietoja</h3>
   <p>Toimintoja nyt: $num_ops</p>
   <p>Paras suoritus: $record</p>
   <h3>Tuo ratkaisu ohjelmaan</h3>
   <form name="upload_solution_form" method="post" enctype="multipart/form-data" action="">
    <div>
     <input type="file" class="upload" name="upload_solution" id="upload_solution"
      style="display: none" onChange="Handlechange();" /> <input class="colBut" type="button"
      value="Valitse tiedosto" id="fakeBrowse" onclick="HandleBrowseClick();"/>
    </div>
    <div>
     <input class = "inp_field" type="text" id="filename" readonly="true" style="width: 10.4em;" />
    </div>
    <div>
     <button class="colBut" id="buttonUpload" name="postBut" value="upload_solution_file">Tuo ratkaisu</button>
    </div>
   <h3>Vie ratkaisu tiedostoon</h3>
    <button class="colBut" id="buttonDownload" name="postBut" value="download_solution">Vie ratkaisu</button>
    <input type="hidden" id="sidebarStatus" name="sidebarStatus" value="0">
   </form>
  </div>
</div> 
   $if not err == []:
    $:err      
</div>
</body>
</html>
  

