$def with (inp_expr, num_ops, record, symvar,err=[])
<!DOCTYPE html>
<head>
<meta charset="UTF-8">

<script type="text/javascript" 
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<script type="text/x-mathjax-config">
  	MathJax.Hub.Config({ TeX: { extensions: ["color.js"] }});
	MathJax.Hub.Config({"HTML-CSS": {preferredFont: "STIX"}});	
</script>

<script>
   MathJax.Hub.Queue(
     function () {
        document.getElementById('equ').style.visibility="";
     }
     );
</script>
<script language="JavaScript" type="text/javascript">
 function HandleBrowseClick() {
  var fileinput = document.getElementById("upload_solution");
  fileinput.click();
 }
 function Handlechange() {
  var fileinput = document.getElementById("upload_solution");
  var filetext = fileinput.value;
  var new_filetext = filetext.replace("C:\\fakepath\\", "");
  var textinput = document.getElementById("filename");
  textinput.value = new_filetext;
 }
 function instr() {
  window.open("/instr_fi#basic","Ohjeet","width=800, height=530");
 }
</script>
<title>OTTO-yhtälönratkaisija</title>
<link rel="stylesheet" type="text/css" href="static/default.css">
</head>
<body>
<div class="container wrapper">
 <div id="top">
  <ul id="menu">
   <li><a href="/">OTTO-yhtälönratkaisija</a>
  </ul>
 </div>
 <hr>
 <div class="wrapper">
  <div id="menubar">
   <div id="menu1">
    <h3>Sovellus</h3>
    <ul id="menulist">
     <li class="menuitem"><a href="/oldsimplequestion">Aloita alusta</a></li>
     <li class="menuitem"><a href="/newsimplequestion">Arvo uusi yhtälö</a></li>
     <li class="menuitem"><a href="/inverseview">Rakenna yhtälö</a></li>
     <li class="menuitem"><a href="/createsimplequestion">Omat yhtälöt</a></li>
     <li class="menuitem"><a href="/advview">Edistynyt ratkaisija</a></li>
     <li class="menuitem"><a onclick="instr()">Ohjeet</a></li>
    </ul>
   </div>
   <div id="menu2">
    <h3>Linkkejä</h3>
    <ul id="menulist2">
     <li class="menuitem"><a href="/">Etusivu</a></li>
    </ul>
  </div>
  </div>
<div id="main">
       <h2>Ratkaise yhtälö perustavalla</h2>
<table>
	<tr>
	<td colspan="2">
	  <div id="equ" style="visibility:hidden; font-size:133%;">$:inp_expr</div>
	</td>
	</tr>
	<tr>
	<td>
		<form name="lr_oprs" method="post">
		<fieldset>
		<legend>Muokkaa yhtälöä puolittain</legend>
		<table>
    	
    	<tr>
              <label for="op_drop_lr">Toiminto:</label>
    	<td class="buttoncol">
    		<select id="op_drop_lr" name="op_drop_lr">
  				<option value="add">Lisää termi</option>
  				<option value="subs">Vähennä termi</option>
  				<option value="mul">Kerro termillä</option>
  				<option value="div">Jaa termillä</option>
			</select>
		</td>
		<td class="buttoncol">
			<input type="text" id="inp_expr_lr" name="inp_expr_lr" value="0" class="inp_field" />
		</td>
    <td class="buttoncol">
      <button id="buttonExecute" value="modequ" name="postBut" class="colBut">Tee toiminto
      </button>
    </td>
		</tr>
    <tr>
      <td class="buttoncol"><button id="buttonMergeNumbers" value="modequ_j" name="postBut" class="colBut">Yhdistä luvut</button></td>
      <td class="buttoncol"><button id="buttonMergeVariables" value="modequ_x" name="postBut" class="colBut">Yhdistä $:symvar-termit</button></td>
    </tr>
    <tr>

    	</tr>
		</table>
		</fieldset>
		</form>
	</td>
    <td></td>
	</tr>
</table>
</div>
   <div id="sidebar">
   <h3>Tietoja</h3>
   <p>Toimintoja nyt: $num_ops</p>
   <p>Paras suoritus: $record</p>
   <h3>Tuo ratkaisu ohjelmaan</h3>
   <form name="upload_solution_form" method="post" enctype="multipart/form-data" action="">
    <div>
     <input type="file" class="upload" name="upload_solution" id="upload_solution"
      style="display: none" onChange="Handlechange();" /> <input type="button"
      value="Valitse tiedosto" id="fakeBrowse" onclick="HandleBrowseClick();"/>
    </div>
    <div>
     <input type="text" id="filename" readonly="true" size="15" />
    </div>
    <div>
     <button id="postBut" name="postBut" value="upload_solution_file">Tuo ratkaisu</button>
    </div>
   <h3>Vie ratkaisu tiedostoon</h3>
    <button id="postBut" name="postBut" value="download_solution">Vie ratkaisu</button>
   </form>
  </div>
</div> 
   $if not err == []:
    $:err      
</div>
</body>
</html>
  

